.wrapper {
    align-items: flex-start;
    background: --gray-100;
    display: grid;
    flex-direction: column;
    gap: 2rem;
    grid-template-columns: 256px 1fr;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

@media (max-width: 768px) {

    html {
        font-size: 87.5%; /*  */
    }
    .wrapper{
        grid-template-columns: 1fr;;
    }
}