.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    background: --gray-100;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column;
}